{
    "parser": "@typescript-eslint/parser",
    "extends": [
      "airbnb-typescript",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended"
    ],
    "plugins": ["react", "@typescript-eslint", "prettier"],
    "parserOptions": {
      "project": "./tsconfig.json",
      "ecmaVersion": 6,
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
        "prettier/prettier": [
          "error",
          {
            "endOfLine": "auto"
          }
        ],
        "@typescript-eslint/explicit-module-boundary-types": "off"
      },
      "settings": {
        "react": {
          "version": "detect"
        }
      }
  }