@import 'utils/variables.scss';
@import 'utils/mixins.scss';

.coin {
  @include flex-column-center-center;
  position: relative;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background: $color-coin;
  color: $color-coin-text;
  font-size: 6rem;
  font-weight: $font-weight-bold;
  overflow: hidden;
  &.deactive {
    cursor: not-allowed;
    &::before {
      position: absolute;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      content: '';
    }
  }
  &--outline {
    @include flex-column-center-center;
    border: 0.4rem solid $color-coin-line;
    border-radius: 50%;
    width: 95%;
    height: 95%;
  }
  &--innerline {
    @include flex-column-center-center;
    @include drag-protect;
    border: 0.2rem solid $color-coin-line;
    border-radius: 50%;
    width: 90%;
    height: 90%;
  }
}
