@import 'utils/variables.scss';

.returndoor {
  $door-border: 5px;
  border-top: $door-border solid lighten($color-vending-machine, 2%);
  border-left: $door-border solid darken($color-vending-machine, 2%);
  border-right: $door-border solid darken($color-vending-machine, 2%);
  border-bottom: #{$door-border * 4} solid darken($color-vending-machine, 1%);
  width: 40rem;
  height: 8rem;
  background-color: darken($color-vending-machine, 35%);
  perspective: 8rem;
  button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    border: 1px solid rgba(#fff, 0.5);
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(13deg, transparent, rgba(gray, 0.5) 50%);
    color: rgba(#fff, 0.2);
    font-size: 2rem;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    &:hover {
      transform: rotateX(-5deg);
    }
  }
  &.exsit {
    background-color: darken(#f1c40f, 30%);
  }
  &.money {
    border-bottom: #{$door-border * 2} solid darken($color-vending-machine, 1%);
    width: 5rem;
    height: 5rem;
    button {
      font-size: 0.5rem;
      &:hover {
        transform: rotateX(-20deg);
      }
    }
  }
}
