// ****************
// LayOut
// ****************
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center {
  @include flex-row;
  justify-content: center;
}

@mixin flex-row-center-center {
  @include flex-row-center;
  align-items: center;
}

// ****************
// Function
// ****************

@mixin drag-protect {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
