// ****************
// Color
// ****************

$color-black: #000000;
$color-white: #ffffff;

// ****************
// Font Stack
// ****************
$font-stack: 'Roboto', sans-serif;
$font-point: 'Yellowtail', cursive;
