.App {
  margin: auto;
  width: 80rem;
  height: 100vh;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80rem;
    min-width: 80rem;
    min-height: 70rem;
    height: 100vh;
  }
}
